<%- include('partials/header') %>

<div class="title">    
    <h1>Articles</h1>
</div>

<div class="row">

    <% posts.forEach(post => { %>
        <div class="mt-4 col-6">
            
            <div class="card">
                <div class="card-header">
                    <h2><%= post.title %></h2>
                </div>
                <div class="card-body">
                    <p>By <%= post.auth %></p>
                    <p><%= post.createdAt.toLocaleString('en-GB') %></p>
                    <%- post.sanitizedHtml.substring(0, 100) %>...
                </div>
                <div class="card-footer">
                    <a href="/blog/<%- post.slug %> " class="btn btn-sm btn-st">Read more...</a>
                </div>
        </div>
    </div>
    
    <% }) %>
</div>

<%- include('partials/footer') %> 